<h2>Edytuj notatke</h2>
<form #newNoteForm="ngForm">
  <div class="form-row align-items-center">
    <div class="col">
        <input ngModel type="text" class="form-control" name="title" [(ngModel)]="noteModel.title">
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" (click)="onSubmit()" type="submit">Zapisz</button>
        <button class="btn btn-danger" (click)="onDelete()">Usuń</button>
    </div>
  </div>
  <div class="form-group">
    <textarea ngModel type="text" class="form-control" name="content" rows="10" [(ngModel)]="noteModel.content"></textarea>
  </div>
</form>

