  <div class="header" style="display: flex">
    <h1> Moje notatki</h1>
    <button class="btn btn-success btn-sm" (click)="newNote()">Nowa notatka</button>
  </div>
  <div class="card" *ngFor="let note of notes$">
  <h5 class="card-header">{{note.title}}</h5>
  <div class="card-body">
    <p class="card-text">{{note.content}}</p>
    <a routerLink="/edit/{{note.id}}" class="btn btn-primary">Edytuj</a>
      <a class="btn btn-danger" (click)="onDelete( note.id )">Usuń</a>
  </div>
</div>
<div *ngIf="!haveNotes" class="alert alert-info"  role="alert">
  Nie masz żadnej notatki! Kliknij <a routerLink="/new" class="alert-link">tutaj</a> aby utworzyć nową.
</div>