  <h2>Utwórz nową notatke</h2>
  <form #newNoteForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-row align-items-center">
      <div class="col">
          <input ngModel type="text" class="form-control" name="title" [(ngModel)]="noteModel.title">
      </div>
      <div class="col-auto">
          <button class="btn btn-primary mb-2" type="submit">Save</button>
      </div>
    </div>
    <div class="form-group">
      <textarea ngModel type="text" class="form-control" name="content" rows="10" [(ngModel)]="noteModel.content"></textarea>
    </div>
  </form>
